*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fff;
   
    
}
img{
    width: 140px;
    
}
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 25px;
    margin: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #090909;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    
}
.container{
    margin-top:5%;
    height: auto;
    padding: 30px;
    max-width: 450px;
    min-width: auto;
    border-radius: 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input{
    font-size: 2.1vh;
    text-align: center;
    height: 6vh;
    width: 300px;
    border-radius: 15px;
    text-decoration: none solid rgb(0, 0, 0);
    margin-bottom: 7px;
    border: none;
    background: #E8F0FE;
    color: #090909;
    
    
}

select{
    width: 30vh;
    text-align: center;

    
}

#button{
    text-transform: uppercase;
    height: 50px;
    cursor: pointer;
    margin-top: 10px;
    color: #090909;
    padding: 0.2em 1.2em;
    font-size: 13px;
    border-radius: 0.5em;
    background: #99C317;
    border: 1px solid #e8e8e8;
    text-decoration: rgb(255, 255, 255);
    transition: all .3s;
    box-shadow: 4px 4px 8px #99C317,                -1px -1px 6px #99C317;
    color: #fff;
    display: inline-block;
    
    
}
#button:active {
    
    box-shadow: inset 2px 2px 9px #fff,
                inset -2px -2px 9px #fff;
   }

   #button:hover{
    background-color: #7770a3;
    transform: scale(1.2);
}


fieldset{
    margin: 10px;
    height: 40px;
    padding: 30px;
    max-width: 450px;
    min-width: auto;
    border-radius: 10px;
    color: #090909;
}

legend{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 25px;
    
}

.result-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    
}

.social-link{
    margin: 10px;
    font-size: 3.1vh;

}

a{
    color: #3c41c692;
}

.copyright{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.fa-whatsapp{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.fa-whatsapp:hover{
    color: #05c46b;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.fa-github{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.fa-github:hover{
    color: #090909;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.fa-linkedin{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.fa-linkedin:hover{
    color: #0652DD;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

